*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #fff;
}

body{
  background-color: #25353a;
}

.nav-logo{
  font-size: 1.5rem;
  font-weight: 600;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-menu{
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.post{
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.post p{
  text-align: center;
}

main h1{
  margin-top: 40px;
  text-align: center;
}

button{
  background-color: #fe3477;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  bottom: 20px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}